body{
    background-image: url(../images/siteBg.png);
    background-size:cover;    
    background-repeat: no-repeat, no-repeat;
    
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    margin: 0;
    padding: 0;
}

#button1{
    font-size:30px;
    margin-top: 400px;
    margin-left: 100px;
    border-radius: 20px;
    width: 330px;
    height: 65px;
    opacity: 0.7;
    border: 2px solid rgb(74, 7, 54);

    

}
#button1:hover{
    font-size: 31px;
    width: 335px;
    height: 66px;
    opacity: 0.9;
    
}


.modal{

    background-color: azure;
    height: 200px;
    width: 200px;
    display: none;
    overflow: auto;

    animation: comeDown 0.6s ;
    
    
    position:fixed ;
    top: 40%;
    left: 45%;
    text-align: center;
    border: 1px solid rgb(64, 186, 195);
    border-radius: 2px;
    
}

.modalcontent{margin-top: 20%;
    
    font-size: 20px;
    


}

.exitButton{
    margin-top: 15px;
    font-size: 20px;
    
    
    
}
.exitButton:hover{
    font-size: 22px;
    display: inline-block;
    border: 1px solid rgb(190, 185, 185);
    cursor: pointer;
}

@keyframes comeDown {
    from{top: 0%; left: 0%;}
    to{    top: 40%;
        left: 45%;
    }
    
}



